<div class="container" *ngIf="loader">
  <img class="loader" src="../../assets/images/loader.gif" alt="loading...">
</div>

<body class="container-fluid" *ngIf="!loader">
  <!-- Header -->
  <header class="header-container">
      <div class="header__logo">
          <img class="logo img-fluid" src="../../assets/images/logo.png" alt="biz2credit">
      </div>
      <div class="header__text text-center">
          <span class="search__text">searching ISP made easy!</span>
      </div>
      <div class="header__detail__box text-center">
          <p class="header__box__text">Total ISP: <span>0{{serviceProdiverList.length}}</span> &nbsp;  | &nbsp; API Hits: <span>{{apiHits}}</span></p>
      </div>
  </header>
  <!-- main -->
  <section class="main__section w-100">
      <!-- Left Bar -->
      <div class="left__bar">
          <!-- Home & Search Container-->
          <div class="search__home__container w-100">
              <div class="home__container w-25 h-100">
                  <em class="fa fa-home home-icon"></em>
                  <h2>HOME</h2>
              </div>
              <!-- Search Bar -->
              <div class="search__container w-75 h-100">
                  <div class="search__bar">
                      <em class="fa fa-search"></em>
                      <input type="text" name="search" id="search" [(ngModel)]="searchKeyWord" placeholder="Search (by ISP name, price, rating)">
                      <em class="fa fa-times-circle" (click)="resetFilter()"></em>
                  </div>
              </div>
          </div>
          <!-- ISP Container -->
          <div class="isp__container w-100">
              <!-- Service -->
              <ng-container *ngFor="let provider of serviceProdiverList | filterISP : searchKeyWord | sortISP : sortType: orderBy">
                <div class="isp__box">
                    <div class="isp__name">
                        <em class="fa fa-database"></em>
                        <p>{{provider.name}}</p>
                    </div>
                    <div class="isp__amount">
                        <p>₹ {{provider.lowest_price}}</p>
                        <em class="fa fa-chevron-circle-right" (click)="showDetail(provider)"></em>
                    </div>
                </div>
              </ng-container>
          </div>

          <!-- Sorting Container -->
          <div class="sorting__container">
              <div class="sort__action">
                  <em class="fa fa-sort" (click)="changeSortOrder()"
                  [ngClass]="{'fa-sort-asc' : orderBy, 'fa-sort-desc' : orderBy == false}"></em>
                  <p>Sort By</p>
              </div>
              <div class="sort__action__btn">
                  <input type="radio" id="Price" name="sort" value="lowest_price" [(ngModel)]="sortType">
                  <label for="price">Price</label>
                  <input type="radio" id="Rating" name="sort" value="rating" [(ngModel)]="sortType">
                  <label for="rating">Rating</label>
              </div>
          </div>

      </div>

      <!-- Right Bar -->
      <div class="right__bar">
          <!-- Details -->
          <div class="isp__details__container" id="provider-detail-image">
              <img src="{{providerDetail?.imageurl}}" class="img-fluid provider__img" alt="ISP_Image">
              <div class="airtel__details">
                  <div class="airtel__header">
                      {{providerDetail?.name}}
                  </div>
                  <div class="airtel__speed">
                      <em class="fa fa-wifi"></em>
                      <p>Max. Speed: {{providerDetail?.max_speed}}</p>
                  </div>
                  <div class="airtel__contact">
                      <em class="fa fa-phone"></em>
                      <p>{{providerDetail?.contact_number}}</p>
                  </div>
                  <div class="airtel__email">
                      <em class="fa fa-envelope-o"></em>
                      <a href="mailto:{{providerDetail?.email}}">{{providerDetail?.email}}</a>
                  </div>
                  <div class="airtel__price">
                      <em class="fa fa-money"></em>
                      <p>Min. Plan: {{providerDetail?.lowest_price}} /-</p>
                  </div>
              </div>
          </div>

          <!-- Rating -->
          <div class="rating__container">
              <h2>Rating: </h2>
              <ng-container *ngIf="providerDetail">
                <span [ngClass]="{'rated': providerDetail.rating >=  1}" class="fa fa-star rated"></span>
              <span [ngClass]="{'rated': providerDetail.rating >= 2}"  class="fa fa-star rated"></span>
              <span [ngClass]="{'rated': providerDetail.rating >= 3}" class="fa fa-star rated"></span>
              <span [ngClass]="{'rated': providerDetail.rating >= 4}" class="fa fa-star rated"></span>
              <span [ngClass]="{'rated': providerDetail.rating == 5}"  class="fa fa-star"></span>
              </ng-container>
          </div>

          <!-- Note -->
          <div class="note__container">
              <p class="note">{{providerDetail?.description}}</p>
          </div>

          <!-- ISP Share & download -->
          <div class="isp__action__container">
              <div class="link">
                  <em class="fa fa-link"></em>
                  <a target="_blank" href="">Link</a>
              </div>
              <div class="share" (click)="openDialog()">
                  <em class="fa fa-share"></em>
                  <p>Share</p>
              </div>
              <div class="download" (click)="downloadImage()">
                  <em class="fa fa-download"></em>
                  <p>Download</p>
              </div>
          </div>

      </div>
    </section>
</body>
