<body class="container-fluid">
  <!-- Header -->
  <header class="header-container">
      <div class="header__logo">
          <img class="logo img-fluid" src="../../assets/images/logo.png" alt="biz2credit">
      </div>
      <div class="header__text text-center">
          <span class="search__text">searching ISP made easy!</span>
      </div>
      <div class="header__detail__box text-center">
          <p class="header__box__text">Total ISP: <span>09</span> &nbsp;  | &nbsp; API Hits: <span>748</span></p>
      </div>
  </header>
  <!-- main -->
  <section class="main__section w-100">
      <!-- Left Bar -->
      <div class="left__bar">
          <!-- Home & Search Container-->
          <div class="search__home__container w-100">
              <div class="home__container w-25 h-100">
                  <i class="fa fa-home home-icon"></i>
                  <h2>HOME</h2>
              </div>
              <!-- Search Bar -->
              <div class="search__container w-75 h-100">
                  <div class="search__bar">
                      <i class="fa fa-search"></i>
                      <input type="text" name="search" id="search" placeholder="Search (by ISP name, price, rating)">
                      <i class="fa fa-times-circle"></i>
                  </div>
              </div>
          </div>
          <!-- ISP Container -->
          <div class="isp__container w-100">
              <!-- BSNL -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>BSNL</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 110</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- Airtel -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>Airtel</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 450</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- Hathway -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>Hathway</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 600</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- BBNL / BNET -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>BBNL / BNET</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 850</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- ACT Broadband -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>ACT Broadband</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 600</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- YOU Broadband -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>YOU Broadband</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 700</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- Tikona Digital Network -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>Tikona Digital Network</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 400</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- Railtel -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>Railtel</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 1,500</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

              <!-- Reliance DSL -->
              <div class="isp__box">
                  <div class="isp__name">
                      <i class="fa fa-database"></i>
                      <p>Reliance DSL</p>
                  </div>
                  <div class="isp__amount">
                      <p>₹ 900</p>
                      <i class="fa fa-chevron-circle-right"></i>
                  </div>
              </div>

          </div>

          <!-- Sorting Container -->
          <div class="sorting__container">
              <div class="sort__action">
                  <i class="fa fa-sort"></i>
                  <p>Sort By</p>
              </div>
              <div class="sort__action__btn">
                  <input type="radio" id="Price" name="sort" value="Price">
                  <label for="price">Price</label>
                  <input type="radio" id="Rating" name="sort" value="Rating">
                  <label for="rating">Rating</label>
              </div>
          </div>

      </div>

      <!-- Right Bar -->
      <div class="right__bar">
          <!-- Details -->
          <div class="isp__details__container">
              <i class="fa fa-cloud"></i>
              <div class="airtel__details">
                  <div class="airtel__header">
                      Airtel
                  </div>
                  <div class="airtel__speed">
                      <i class="fa fa-wifi"></i>
                      <p>Max. Speed: 50mbps</p>
                  </div>
                  <div class="airtel__contact">
                      <i class="fa fa-phone"></i>
                      <p>080-44444121</p>
                  </div>
                  <div class="airtel__email">
                      <i class="fa fa-envelope-o"></i>
                      <p>121@in.airtel.com</p>
                  </div>
                  <div class="airtel__price">
                      <i class="fa fa-money"></i>
                      <p>Min. Plan: 450 /-</p>
                  </div>
              </div>
          </div>

          <!-- Rating -->
          <div class="rating__container">
              <h2>Rating: </h2>
              <span class="fa fa-star rated"></span>
              <span class="fa fa-star rated"></span>
              <span class="fa fa-star rated"></span>
              <span class="fa fa-star rated"></span>
              <span class="fa fa-star"></span>
          </div>

          <!-- Note -->
          <div class="note__container">
              <p class="note">Our internet plan are now avaliable at never-before prices. You can also opt for a voice top-up pack and enjoy unlimited local and STD calls from your <b> airtel</b> landline.</p>
          </div>

          <!-- ISP Share & download -->
          <div class="isp__action__container">
              <div class="link">
                  <i class="fa fa-link"></i>
                  <p>Link</p>
              </div>
              <div class="share">
                  <i class="fa fa-share"></i>
                  <p>Share</p>
              </div>
              <div class="download">
                  <i class="fa fa-download"></i>
                  <p>Download</p>
              </div>
          </div>

      </div>

  </section>
</body>
